In [63]:
# Import required modules.
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [64]:
# Collection of data
df=pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [65]:
# Catogorical data in textual form and nominal data.
# Hence One-hot encoding is required
df['region'].value_counts()

southeast    364
northwest    325
southwest    325
northeast    324
Name: region, dtype: int64

In [66]:
# one-hot encoding using column transformer.
# Import required modules.
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
import numpy as np

In [83]:
# Creating ColumnTransformer object.
column_trans=ColumnTransformer([('encoder',OneHotEncoder(),[5])],remainder='passthrough')

In [84]:
# Usinf fit_transform method via created object to transform our dataframe.
df_new_array=column_trans.fit_transform(df)

In [86]:
# Display the modified dataframe.
labels=['northeast','northwest','southeast','southwest','age','sex','bmi','children','smoker','charges']
df_new=pd.DataFrame(df_new_array,columns=labels)
df_new.head()

,northeast,northwest,southeast,southwest,age,sex,bmi,children,smoker,charges
0,0,0,0,1,19,female,27.9,0,yes,16884.9
1,0,0,1,0,18,male,33.77,1,no,1725.55
2,0,0,1,0,28,male,33,3,no,4449.46
3,0,1,0,0,33,male,22.705,0,no,21984.5
4,0,1,0,0,32,male,28.88,0,no,3866.86