In [1]:
# Importing modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from math import *

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import jaccard_similarity_score,accuracy_score,confusion_matrix,classification_report,log_loss,precision_score,recall_score

In [ ]:
# Reading data
data=pd.read_csv('ChurnData.csv')
data.head(10)

In [3]:
# Converting churn column from float to int
data['churn']=data['churn'].astype('int')
data.head(5)

,tenure,age,address,income,ed,employ,equip,callcard,wireless,longmon,...,pager,internet,callwait,confer,ebill,loglong,logtoll,lninc,custcat,churn
0,11.0,33.0,7.0,136.0,5.0,5.0,0.0,1.0,1.0,4.40,...,1.0,0.0,1.0,1.0,0.0,1.482,3.033,4.913,4.0,1
1,33.0,33.0,12.0,33.0,2.0,0.0,0.0,0.0,0.0,9.45,...,0.0,0.0,0.0,0.0,0.0,2.246,3.240,3.497,1.0,1
2,23.0,30.0,9.0,30.0,1.0,2.0,0.0,0.0,0.0,6.30,...,0.0,0.0,0.0,1.0,0.0,1.841,3.240,3.401,3.0,0
3,38.0,35.0,5.0,76.0,2.0,10.0,1.0,1.0,1.0,6.05,...,1.0,1.0,1.0,1.0,1.0,1.800,3.807,4.331,4.0,0
4,7.0,35.0,14.0,80.0,2.0,15.0,0.0,1.0,0.0,7.10,...,0.0,0.0,1.0,1.0,0.0,1.960,3.091,4.382,3.0,0

In [4]:
# SHAPE OF DIMENSION
data.shape

(200, 28)

In [5]:
# DATAFRAME TO ARRAY
x=np.asanyarray(data[['tenure','age','ed']])
y=np.asanyarray(data['churn'])

In [6]:
# train _test_ split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [7]:
# TRAIN THE MODEL
lr=linear_model.LogisticRegression()
lr.fit(x_train,y_train)
print(lr.score(x_test,y_test)*100)

80.0

In [8]:
# CROSS VALIDATION { 10-FOLD CV } . scoring parameter by default is Accuracy { Evaluation metrics}
from sklearn.model_selection import cross_val_score
score=cross_val_score(lr,x,y,cv=10)

In [9]:
print('List of possible accuracy:',score)
print('Maximum accuracy that can be achived:',score.max())
print('Minimum accuracy that can be achived:',score.min())
print('Mean of the accuracy:',score.mean())
print('Standard deviation from mean accuracy:',score.std())

List of possible accuracy: [0.75 0.65 0.75 0.85 0.65 0.8  0.65 0.65 0.85 0.75]
Maximum accuracy that can be achived: 0.85
Minimum accuracy that can be achived: 0.65
Mean of the accuracy: 0.735
Standard deviation from mean accuracy: 0.0776208734813001

In [12]:
#CROSS VALIDATION { 10-FOLD CV } . scoring parameter set to neg_mean_squared_error { Evaluation metrics}
#from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
score_1=cross_val_score(lr,x,y,cv=10,scoring='neg_mean_squared_error')
score_1=np.sqrt(-score_1)

In [14]:
print('List of possible RMSE:',score_1)
print('Maximum RMSE is:',score_1.max())
print('Minimum RMSE is:',score_1.min())
print('Mean of the RMSE:',score_1.mean())
print('Standard deviation of RMSE:',score_1.std())

List of possible RMSE: [0.5        0.59160798 0.5        0.38729833 0.59160798 0.4472136
 0.59160798 0.59160798 0.38729833 0.5       ]
Maximum RMSE is: 0.5916079783099616
Minimum RMSE is: 0.3872983346207417
Mean of the RMSE: 0.5088242177981288
Standard deviation of RMSE: 0.07808915022026051